<div class="bg-gray-800">
    <div class="bg-yellow-300 w-full h-screen -skew-y-12 -mt-44 absolute">
    </div>
    
    <div class="max-w-7xl mx-auto relative">
        <div class="flex justify-between text-black py-5 items-center">
                <div class="">
                    <a href="">Name/Logo</a>
                </div>
                <div>
                    <a href="" class="px-3 py-2 hover:border-b-2 hover:pb-5">Usuários</a>
                    <a href="" class="px-3 py-2 hover:border-b-2 hover:pb-5">Exercicios</a>
                    <a href="" class="px-3 py-2 hover:border-b-2 hover:pb-5">Treinos</a>
                </div>
        </div>
    </div>
    
    <div class="relative max-w-7xl mx-auto">
    
    <div class="text-white flex">
        <div class="w-1/2">
    
            <div class="mt-28">
                <h6 class="text-sm font-light mb-4">TEXTO 1</h6>
    
                <h2 class="text-6xl font-semibold mb-4">TEXTO 2</h2>
    
                <h6 class="text-sm font-light mb-16">TEXTO 3</h6>
            </div>
    
            <div>
                <input type="text" name="fitBuilder" placeholder="Preencha aqui" class="py-3 w-1/2 rounded outline-1 bg-transparent bg-yellow-200 border-0 outline-none">
    
                <button class="bg-yellow-600 py-3 px-4 rounded">Navegar</button>
            </div>
    
            <div class="mt-44 ml-32 bg-white w-11 text-center rounded-full animate-bounce shadow-2xl">
                <button class="text-black py-2 px-3">-></button>
            </div>
    
        </div>
    
        <div class="w-1/2">
            <div>
                <img src="" alt="logo do personal" class="mt-10 ml-16">
            </div>
        </div>
    </div>
    
    
    </div>
</div>